extends layout.jade

block title
	title Survey App
block append scripts
	script(src='/js/menu.js')
block headerBlock
	h1 Survey App
block contentBlock
	button(type='button',class ='btn btn-primary',id='reqSurveyBtn') Request a survey
	br
	br
	button(type='button',class ='btn btn-primary',id='viewRewardsBtn') View survey rewards
	br
	br
	button(type='button',class ='btn btn-primary',id='completeSurveyBtn') Complete a survey